
body {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #5f2780;
  color: #070202;
}

p {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: #070202;
}  

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #312d2d;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}
.navbar {
  background-color: #5f2780;
  color: #070202;
}

.navbar .navbar-brand {
  color: #070202;
}


.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #070202;
}